* {
    background-image: none;
    font-size: 20px;
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono NFM";
}

window {
    background-color: rgba(10, 10, 15, 0.5);
}

button {
    border-radius: 20px;
    margin: 12px;
    color: #e0d7ff;
    border: 2px solid #7aa2f7;
    background-color: rgba(13, 2, 33, 0.45);
    outline: none;
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: 28%;
    box-shadow: none;
    text-shadow: none;
    padding-top: 65px;
    transition: all 0.2s ease-in-out;
}

button:focus, button:hover {
    background-color: rgba(122, 162, 247, 0.25);
    border-color: #00e5ff;
    color: #ffffff;
    background-size: 32%;
    box-shadow: none;
    outline: none;
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em;
}

#lock {
    background-image: url("/home/sannan/.config/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/home/sannan/.config/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/home/sannan/.config/wlogout/icons/sleep.png");
}

#shutdown {
    background-image: url("/home/sannan/.config/wlogout/icons/power.png");
}

#reboot {
    background-image: url("/home/sannan/.config/wlogout/icons/restart.png");
}

#hibernate {
    background-image: url("/home/sannan/.config/wlogout/icons/hibernate.png");
}
